html,
body {
    background:#DDD;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.hr{
	width:100%;
	height:4px;
	background:#666;
	margin:10px auto;
	border-radius:10px;
}
a{
	word-wrap:break-word;
}
#sidebar{
	font-family:sans;
}
#title{
	text-align:center;
	font-size:1.5em;
	font-weight:bold;
}
#shop_detail:hover{
	background:#CCC;
}

#shop_detail + #shop_detail{
	border-top:1px solid black;
}
#shop_detail{
	padding:10px 0;
}

#shop_detail .title{
	font-size:1.2em;
}

label{
	width:60%;
	display:inline-block;
        float:left;
}
#map {
    height: 100%;
    width: 80%;
    float:left;
}
input[type="text"]{
    width:96%;
    padding:2%;
    margin:10px 0;
}
.button:hover{
	text-decoration:underline;
	cursor:pointer;
}
.button{
    width:35%;
    padding:4px;
    font-size:1em;
    background:#666;
    border:0px;
    color:white;
    border-radius:5px;
}
#sidebar{
	padding:0 2%;
	width:16%;
	float:right;
        overflow-y:scroll;
	height:100%;
}

#sidebar #title{
    margin:40px 0 30px 0;;
}
